<h1>Your Task:</h1>
<h2><%= @task.title%></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>
</ol>
<li><%= link_to "Edit Task", edit_task_path(@task) %></li>
<li><%= link_to "Back To List", tasks_path(@task) %></li>
